<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header - Fragmento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
<header class="navbar fixed-top" id="header">
    <div class="container-fluid" style="height: 50px">
        <span class="navbar-brand mx-auto tittle-span" style="padding-left: 600px; color: white; font-size: 18px;">Elegance - Estética Avançada</span>
        <div class="dropdown ml-auto">
            <span style="color: white;" th:text="${usuarioLogado}">Nome do Usuário</span>
            <i class="fa fa-user-circle" style="color: white; margin-right: 40px" aria-hidden="true"></i>
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit" class="btn-sair"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Sair</button>
            </form>
        </div>
    </div>
</header>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
