<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página com Menu Lateral</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/css/paginaInicial.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="sidebar">
    <h2 class="text-center">Menu</h2>
    <hr style="margin-top: 6px; background: #30363e;">
    <a href="/paginaInicial"><i class="fa fa-home"></i> Home</a>
    <a href="/pacientes"><i class="fa fa-address-book" aria-hidden="true"></i> Pacientes</a>
    <a href="/agenda"><i class="fa fa-book" aria-hidden="true"></i> Agenda</a>
    <a href="/procedimentos"><i class="fa fa-user-md" aria-hidden="true"></i> Procedimentos</a>
    <a href="/contratos"><i class="fa fa-print" aria-hidden="true"></i> Contratos</a>
</div>


<!--            <div th:if="${isAdmin}">-->
<!--                <p>Esta seção é visível apenas para administradores.</p>-->
<!--                <a href="/paginaAdmin">Acessar painel administrativo</a>-->
<!--            </div>-->

<!--            <div th:unless="${isAdmin}">-->
<!--                <p>Bem-vindo à área de usuário comum.</p>-->
<!--            </div>-->

<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Selecione uma Data</label>
                    <div id="dataGraficos" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <div class="row>">
                <div class="col-md-12" style="margin-top: 20px">
                    <div id="agendamento"></div>
                </div>
                <div class="col-md-12" style="margin-top: 200px">
                    <div id="procedimentos"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/paginaInicial.js"></script>
</body>
</html>
