<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página com Menu Lateral</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/paginaInicial.css">
</head>
<body>
<div class="sidebar">
    <h2 class="text-center">Menu</h2>
    <a href="/paginaInicial"><i class="fa fa-home"></i> Home</a>
    <a href="/pacientes"><i class="fa fa-address-book" aria-hidden="true"></i> Pacientes</a>
    <a href="/agenda"><i class="fa fa-book" aria-hidden="true"></i> Agenda</a>
    <a href="/procedimentos"><i class="fa fa-user-md" aria-hidden="true"></i> Procedimentos</a>
    <a href="/contratos"><i class="fa fa-print" aria-hidden="true"></i> Contratos</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
