<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegance - Estética avançada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/css/paginaInicial.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="sidebar">
    <h2 class="text-center">Menu</h2>
    <hr style="margin-top: 6px; background: #30363e;">
    <a href="/paginaInicial"><i class="fa fa-home"></i> Home</a>
    <a href="/pacientes"><i class="fa fa-address-book" aria-hidden="true"></i> Pacientes</a>
    <a href="/agenda"><i class="fa fa-book" aria-hidden="true"></i> Agenda</a>
    <a href="/procedimentos"><i class="fa fa-user-md" aria-hidden="true"></i> Procedimentos</a>
    <a href="/contratos"><i class="fa fa-print" aria-hidden="true"></i> Contratos</a>
</div>

<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-8">
                                <h2>Bem vindo(a), <span style="color: #30363e" th:text="${usuarioLogado}">Nome do Usuário</span> 👋!</h2>
                                <p class="typing-effect">Você é capaz de muito mais do que pensa.</p>
                            </div>
                            <div class="col-md-4">
                                <p id="dataHoje"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-8">
                                <p>Dúvidas? Entre em contato com nosso suporte 24Hrs!</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <img id="imgQrCode" src="/static/images/qrCodeWhats.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-10">
                                <p style="margin-bottom: 0">Pacientes<br><span style="font-size: 40px" th:text="${quantidadePacientes}"></span></p>
                            </div>
                            <div class="col-md-2">
                                <a href="/pacientes" style="color: #30363e"><i style="font-size: 35px" class="fa fa-address-book-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-10">
                                <p style="margin-bottom: 0">Agendados para Hoje<br><span style="font-size: 40px" th:text="${quantidadeAgendamentosHoje}"></span></p>
                            </div>
                            <div class="col-md-2">
                                <a href="/agenda" style="color: #30363e"><i style="font-size: 35px" class="fa fa-book" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-10">
                                <p style="margin-bottom: 0">Confirmados para Hoje<br><span style="font-size: 40px" th:text="${confirmadosParaHoje}"></span></p>
                            </div>
                            <div class="col-md-2">
                                <a href="/agenda" style="color: #30363e"><i style="font-size: 35px" class="fa fa-check-square-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-9">
                                <p style="margin-bottom: 0; font-size: 15px">Procedimentos Realizados Hoje<br><span style="font-size: 40px" th:text="${procedimentosRealizadosHoje}"></span></p>
                            </div>
                            <div class="col-md-3" >
                                <a href="/procedimentos" style="color: #30363e;"><i style="font-size: 35px" class="fa fa-handshake-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/paginaInicial.js"></script>
</body>
</html>
