<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedimentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/procedimentos.css">
    <link rel="stylesheet" href="/static/css/botox.css">
</head>
<body>
<div class="sidebar">
    <h2 class="text-center">Menu</h2>
    <a href="/paginaInicial">Home</a>
    <a href="/pacientes">Pacientes</a>
    <a href="/agenda">Agenda</a>
    <a href="/procedimentos">Procedimentos</a>
    <a href="/contratos">Contratos</a>
</div>

<div class="content">
    <h1>Procedimentos</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#procedimentos" data-target="#procedimentos">Procedimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#botox" data-target="#botox">Botox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#capilar" data-target="#capilar">Capilar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ultraformer" data-target="#ultraformer">Ultraformer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#preenchimentos" data-target="#preenchimentos">Preenchimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#microAgulhamento" data-target="#microAgulhamento">MicroAgulhamento Facial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#hiperidrose" data-target="#hiperidrose">Hiperidrose</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#peeling" data-target="#peeling">Peeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mesoject" data-target="#mesoject">Mesoject</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr>

    <div class="card">
        <div class="card-body">

            <div id="procedimentos" class="section">

            </div>

            <div id="botox" class="section">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Botox</h2>
                    </div>
                    <div class="col-md-12">
                        <p>Ficha de aplicação de Botox.</p>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 40px">
                        <label>Paciente</label>
                        <select class="form-control w-25" id="pacienteBotox">
                            <option value="">Selecione o Paciente</option>
                            <option th:each="paciente : ${pacientes}"
                                    th:value="${paciente.id}"
                                    th:text="${paciente.nome}"></option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex w-25 h-50 justify-content-end" style="margin-top: 22px">
                        <button id="iniciarProcedimentoBotox" class="btn btn-outline-dark">Iniciar Procedimento</button>
                    </div>
                </div>
                <form id="formSalvarProcedimentoBotox" th:action="@{/procedimentoBotox/salvar}" method="post">
                    <div id="formularioSalvarProcedimentoBotox">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div id="canvasContainer">
                                        <canvas id="fotoCanvas" width="500" height="600"></canvas>
                                        <canvas id="desenhoCanvas" width="500" height="600"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="margin-bottom: 16px">
                                        <label>Área de Aplicação</label>
                                        <select class="form-control" id="areaAplicada">
                                            <option value="">Selecione a área Aplicada</option>
                                            <option value="tercoSuperior">Terço Superior</option>
                                            <option value="regiao">Por Região</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="corUtilizada">Cor Utilizada</label>
                                            <select id="corUtilizada" name="corUtilizada" class="form-control" required>
                                                <option value="">Selecione uma Cor</option>
                                                <option value="Vermelho">Vermelho</option>
                                                <option value="Verde">Verde</option>
                                                <option value="Azul">Azul</option>
                                                <option value="Rosa">Rosa</option>
                                                <option value="Ciano">Ciano</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Quantidade Utilizada</label>
                                            <textarea id="quantidadeBotox" class="form-control textarea-expand" rows="1"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Anotações sobre aplicação</label>
                                            <textarea id="observacoesBotoxAplicacao" class="form-control textarea-expand" rows="1"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="paletaCores">
                                            <div class="cor" style="background-color: #FF0000;" data-cor="#FF0000"></div>
                                            <div class="cor" style="background-color: #83ff00;" data-cor="#00FF00"></div>
                                            <div class="cor" style="background-color: #0000FF;" data-cor="#0000FF"></div>
                                            <div class="cor" style="background-color: #FF00FF;" data-cor="#FF00FF"></div>
                                            <div class="cor" style="background-color: #00FFFF;" data-cor="#00FFFF"></div>
                                            <a id="usarBorracha" class="btn btn-dark" style="padding: 5px 10px 5px 10px; margin-top: 0px" ><i class="fa fa-eraser" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 w-10 d-flex justify-content-end">
                                        <button id="adicionarProcedimentoBotox" type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                    </div>
                                    <div class="col-md-12">
                                        <table name="tabelaDuranteProcBotox" id="tabelaDuranteProcBotox" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Cor Utilizada</th>
                                                <th>Quantidade</th>
                                                <th>Observações</th>
                                                <th>Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-end" style="margin-top: 8px">
                                        <input type="hidden" id="pacienteIdProcedimentoBotox" name="pacienteId">
                                        <button id="salvarProcedimentosBotox" type="submit" class="btn btn-success">Salvar Procedimento</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 60px">
                            <table name="tabelaHistoricoBotox" id="tabelaHistoricoBotox" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Área aplicada</th>
                                    <th>Data</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div id="capilar" class="section">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formSalvarFichaCapilar" th:action="@{/salvarFichaCapilar}" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Capilar</h2>
                                </div>
                                <div class="col-md-6">
                                    <p>Anamnese Capilar</p>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <input type="hidden" id="fichaCapilarId" name="fichaCapilarId">
                                    <input type="hidden" id="pacienteIdFichaCapilar" name="pacienteIdFichaCapilar">
                                    <button type="submit" class="btn btn-outline-dark">Salvar Ficha</button>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Paciente</label>
                                        <select class="form-control w-25" id="paciente" name="paciente" placeholder="Digite o nome do Paciente" required>
                                            <option value="">Selecione o Paciente</option>
                                            <option th:each="paciente : ${pacientes}"
                                                    th:value="${paciente.id}"
                                                    th:text="${paciente.nome}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="queixaPrincipal">Queixa Principal</label>
                                        <textarea id="queixaPrincipal" name="queixaPrincipal" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="tempoProblema">Tempo que o problema existe?</label>
                                        <textarea id="tempoProblema" name="tempoProblema" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="doencaExistente">Doenças pré-existentes?</label>
                                        <textarea id="doencaExistente" name="doencaExistente" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="medicacao">Usa medicação?</label>
                                        <textarea id="medicacao" name="medicacao" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tricoscopia</label>
                                        <textarea id="tricoscopia" name="tricoscopia" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="condicaoProblema">O problema está?</label>
                                        <select class="form-control" id="condicaoProblema" name="condicaoProblema" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Estável">Estável</option>
                                            <option value="Aumentando">Aumentando</option>
                                            <option value="Aumentando Muito">Aumentando Muito</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="condicaoCabelo">Condição do Cabelo?</label>
                                        <select class="form-control" id="condicaoCabelo" name="condicaoCabelo" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Mais fino">Mais fino</option>
                                            <option value="Mais crespo">Mais crespo</option>
                                            <option value="Mudou coloração">Mudou coloração</option>
                                            <option value="Quebradiço">Quebradiço</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Couro cabeludo</label>
                                        <div class="col-md-12" style="padding: 0px">
                                            <select class="form-control select2" id="couroCabeludo" name="couroCabeludo" multiple="multiple">
                                                <option value="1">Dor</option>
                                                <option value="2">Coceira</option>
                                                <option value="3">Inflamação</option>
                                                <option value="4">Feridas</option>
                                                <option value="5">Caspa</option>
                                                <option value="6">Oleosidade</option>
                                                <option value="7">Odor</option>
                                                <option value="8">Descamação</option>
                                                <option value="9">Alta Sensibilidade</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="novosFios">Nota a presença de novos Fios?</label>
                                        <select class="form-control" id="novosFios" name="novosFios" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="tratamentoAnterior">Tratamento anterior?</label>
                                        <select class="form-control" id="tratamentoAnterior" name="tratamentoAnterior" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="suplemento">Usa suplementação?</label>
                                        <select class="form-control" id="suplemento" name="suplemento" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="contraceptivo">Método contraceptivo?</label>
                                        <select class="form-control" id="contraceptivo" name="contraceptivo" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="alimentacao">Alimentação?</label>
                                        <select class="form-control" id="alimentacao" name="alimentacao" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Ruim">Ruim</option>
                                            <option value="Média">Média</option>
                                            <option value="Boa">Boa</option>
                                            <option value="Saudável">Saudável</option>
                                            <option value="Dieta Regrada">Dieta Regrada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="atividadeFisica">Atividade Fisica?</label>
                                        <select class="form-control" id="atividadeFisica" name="atividadeFisica" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="1x por Semana">1x por Semana</option>
                                            <option value="2x por Semana">2x por Semana</option>
                                            <option value="3x por Semana">3x por Semana</option>
                                            <option value="4x por Semana">4x ou mais por Semana</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="sono">Sono?</label>
                                        <select class="form-control" id="sono" name="sono" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Ruim">Ruim</option>
                                            <option value="Médio">Médio</option>
                                            <option value="Bom">Bom</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="estresse">Estresse?</label>
                                        <select class="form-control" id="estresse" name="estresse" required>
                                            <option value="">Selecione uma Opção</option>
                                            <option value="Baixo">Baixo</option>
                                            <option value="Médio">Médio</option>
                                            <option value="Alto">Alto</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-end" style="margin-top: 16px">
                                    <button id="limparCampos" type="submit" class="btn btn-secondary">Limpar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="formSalvarProcedimentoCapilar" th:action="@{/salvarProcedimentoCapilar}" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Tratamento</h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="protocoloUtilizado">Protocolo Utilizado</label>
                                        <textarea id="protocoloUtilizado" name="protocoloUtilizado" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="resultadoObservado">Resultado Observado</label>
                                        <textarea id="resultadoObservado" name="resultadoObservado" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-end" style="margin-top: 16px">
                                    <input type="hidden" id="procedimentoCapilarId" name="procedimentoCapilarId">
                                    <input type="hidden" id="pacienteIdProcedimentoCapilar" name="pacienteId">
                                    <button id="salvarProcedimentoCapilar" type="submit" class="btn btn-success" >Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table name="tabelaCapilarProc" id="tabelaCapilarProc" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Data</th>
                                <th>Protocolo Utilizado</th>
                                <th>Resultado Observado</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="ultraformer" class="section">
                <h2>Limpeza Facial</h2>
                <p>Descrição sobre o procedimento de limpeza facial.</p>

                <form th:action="@{/salvarFichaLimpezaFacial}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Paciente</label>
                                <select class="form-control w-25" name="paciente" placeholder="Selecione o Paciente" required>
                                    <option value="">Selecione o Paciente</option>
                                    <option th:each="paciente : ${pacientes}"
                                            th:value="${paciente.id}"
                                            th:text="${paciente.nome}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tipoLimpeza">Tipo de Limpeza</label>
                                <select class="form-control" id="tipoLimpeza" name="tipoLimpeza" required>
                                    <option value="">Selecione uma Opção</option>
                                    <option value="Limpeza de Pele Profunda">Limpeza de Pele Profunda</option>
                                    <option value="Limpeza de Pele com Ácido">Limpeza de Pele com Ácido</option>
                                    <option value="Limpeza de Pele com Vapor">Limpeza de Pele com Vapor</option>
                                    <option value="Limpeza de Pele com Máscara">Limpeza de Pele com Máscara</option>
                                    <option value="Limpeza Facial com Hidrafacial">Limpeza Facial com Hidrafacial</option>
                                    <option value="Limpeza de Pele Natural">Limpeza de Pele Natural</option>
                                    <option value="Peeling Químico">Peeling Químico</option>
                                    <option value="Limpeza Facial Esfoliante">Limpeza Facial Esfoliante</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="produtosUtilizados">Produtos Utilizados</label>
                                <input type="text" id="produtosUtilizados" name="produtosUtilizados" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tipoPele">Tipo de Pele</label>
                                <select class="form-control" id="tipoPele" name="tipoPele" required>
                                    <option value="">Selecione uma Opção</option>
                                    <option value="Pele Normal">Pele Normal</option>
                                    <option value="Pele Oleosa">Pele Oleosa</option>
                                    <option value="Pele Seca">Pele Seca</option>
                                    <option value="Pele Mista">Pele Mista</option>
                                    <option value="Pele Sensível">Pele Sensível</option>
                                    <option value="Pele Acneica">Pele Acneica</option>
                                    <option value="Pele Envelhecida">Pele Envelhecida</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dataTratamento">Data do Tratamento</label>
                                <input type="date" id="dataTratamento" name="dataTratamento" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="resultadoEsperado">Resultado Esperado</label>
                                <textarea id="resultadoEsperado" name="resultadoEsperado" class="form-control textarea-expand" rows="2" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-dark">Salvar Ficha</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="preenchimentos" class="section">
                <h2>Dengue</h2>
                <p>Descrição sobre o procedimento relacionado à dengue.</p>
            </div>

            <div id="microAgulhamento" class="section"></div>

            <div id="hiperidrose" class="section">
                <h2>Hiperidrose</h2>
                <div class="row">
                    <div class="col-md-12">
                        <form id="formSalvarProcedimentoHiperidrose" action="/procedimentoHiperidrose/salvar" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Tratamento</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Paciente</label>
                                        <select class="form-control w-25" name="pacienteId" required>
                                            <option value="">Selecione o Paciente</option>
                                            <option th:each="paciente : ${pacientes}"
                                                    th:value="${paciente.id}"
                                                    th:text="${paciente.nome}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="protocoloUtilizado">Protocolo Utilizado</label>
                                        <textarea name="protocoloUtilizado" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="resultadoObservado">Resultado Observado</label>
                                        <textarea name="resultadoObservado" class="form-control textarea-expand" rows="1" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-end" style="margin-top: 16px">
                                    <button id="salvarProcedimentoHiperidrose" type="submit" class="btn btn-secondary">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="container-fluid d-flex flex-column min-vh-100">
                        <div class="row flex-grow-1">
                            <div class="col-md-12 d-flex flex-column">
                                <table id="tabelaHiperidroseProc" class="table table-striped table-bordered flex-fill">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Data</th>
                                        <th>Protocolo Utilizado</th>
                                        <th>Resultado Observado</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="peeling" class="section"> </div>

            <div id="mesoject" class="section"> </div>
        </div>
    </div>
</div>

<div class="modal fade" id="visualizarProcedimentoBotox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalTitleHistoricoBotox"></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="row">
                   <div class="col-md-6">
                       <div class="image-container">
                           <img src="/static/images/rostoExemplo.jpg" width="500" height="600" alt="Imagem Original">
                           <img id="imagemExibida" alt="Imagem Procedimento">
                       </div>
                   </div>
                    <div class="col-md-6">
                        <table name="tabelaHistoricoPacienteBotox" id="tabelaHistoricoPacienteBotox" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Cor Utilizada</th>
                                <th>Quantidade Aplicada</th>
                                <th>Observações</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-12 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarProcedimentoCapilar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Editar Tratamento</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="protocoloUtilizado">Protocolo Utilizado</label>
                            <input type="text" class="form-control" id="upProtocoloUtilizadoCapilar" name="nome"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="resultadoObservado">Resultado Observado</label>
                            <input type="text" class="form-control" id="upResultadoObservadoCapilar" name="telefone"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-12 d-md-flex justify-content-md-end">
                    <input type="hidden" id="idEditarProcedimentoCapilar" class="hidden">
                    <input type="hidden" id="upIdPacienteProcedimentoCapilar" class="hidden">
                    <input type="hidden" id="upDataProcedimentoCapilar" class="hidden">
                    <button id="botaoEditarProcedimentoCapilar" type="submit" class="btn btn-success">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 8px">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/procedimentos.js"></script>
<script src="/static/js/capilarProcedimentos.js"></script>
<script src="/static/js/botoxProcedimentos.js"></script>
<script src="/static/js/hiperidroseProcedimentos.js"></script>

</body>
</html>