.btn-pastel-primary {
    background-color: #5aa9f8; /* Azul pastel 80% mais saturado */
    color: #ffffff;
    border-color: #6aaae5;
}

.btn-pastel-secondary {
    background-color: #7e7f85; /* Cinza pastel 80% mais saturado */
    color: #ffffff;
    border-color: #a0a3a9;
}

.btn-pastel-success {
    background-color: #52d086; /* Verde pastel 80% mais saturado */
    color: #ffffff;
    border-color: #75bf90;
}

.btn-pastel-danger {
    background-color: #fa676f; /* Vermelho pastel 80% mais saturado */
    color: #ffffff;
    border-color: #d96f75;
}

.btn-pastel-warning {
    background-color: #fcd453; /* Amarelo pastel 80% mais saturado */
    color: #ffffff;
    border-color: #ffd055;
}

.btn-pastel-info {
    background-color: #44cbe1; /* Azul claro pastel 80% mais saturado */
    color: #ffffff;
    border-color: #57b7c7;
}

.btn-pastel-light {
    background-color: #e3e3e3; /* Branco pastel com mais cor */
    color: #ffffff;
    border-color: #cacaca;
}

.btn-pastel-dark {
    background-color: #49729b; /* Cinza escuro pastel 80% mais saturado */
    color: #ffffff;
    border-color: #7f8386;
}
