/* Header */
header {
    position: fixed;  /* Tornar o header fixo também */
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background: #30363e;
    transition: top 0.3s;
}

.header-hidden {
    top: -60px;
}

.tittle-span {
    font-family:'Georgia',serif;
}

.btn-sair {
    background-color: #30363e;
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-sair:hover {
    background-color: #30363e; /* Cor de fundo quando passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}