* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    background-color: #e8e8e8;
    top: 0;
    left: 0;
    overflow: auto;
    width: 225px;
    color: #30363e;
    height: 100vh;
    position: fixed;
    padding: 20px 20px 0 20px;
    z-index: 1050; /* A sidebar terá um z-index bem alto */
    border-right: 1px solid #cfcfcf; /* Define a cor e a espessura da borda */
}

/* Conteúdo Principal */
.content {
    margin-left: 225px; /* Ajuste para dar espaço à sidebar */
    padding: 20px;
    padding-top: 80px;  /* Espaço para o header */
    width: 100%;
    background: #f1f1f1;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 0;
}

.sidebar a {
    display: block;
    color: #30363e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #dddddd;
}

