* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    background-color: #e8e8e8;
    top: 0;
    left: 0;
    overflow: auto;
    width: 225px;
    color: #30363e;
    height: 100vh;
    position: fixed;
    padding: 90px 20px 0 20px;
    border-right: 1px solid #cfcfcf; /* Define a cor e a espessura da borda */
}

/* Conteúdo Principal */
.content {
    margin-left: 225px; /* Ajuste para dar espaço à sidebar */
    padding: 20px;
    padding-top: 80px;  /* Espaço para o header */
    width: 100%;
    background: #f1f1f1;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 0;
}

.sidebar a {
    display: block;
    color: #30363e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #dddddd;
}

.panel {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.typing-effect {
    font-size: 16px; /* Tamanho da fonte */
    font-family: 'Courier New', Courier, monospace; /* Fonte monoespaçada */
    display: inline-block;
    white-space: nowrap; /* Impede que o texto quebre a linha */
    overflow: hidden; /* Esconde o texto inicialmente */
    width: 0; /* Começa com a largura 0 */
    animation: typing 5s steps(30) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#imgQrCode{
    width: 90px;
}


