* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    background-color: #fff;
}

.procedimento {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.procedimento h2 {
    margin-bottom: 10px;
    color: #333;
}

.procedimento p {
    margin-bottom: 10px;
    color: #555;
}

.procedimento p strong {
    color: #000;
}

.section {
    display: none; /* Esconde todas as seções por padrão */
    padding: 30px 0;
}

.section.active {
    display: block; /* Exibe a seção ativa */
}

.textarea-expand {
    width: 100%;
    min-height: 50px; /* Altura mínima do textarea */
    box-sizing: border-box;
    overflow: hidden; /* Oculta barras de rolagem */
}
